<h1>What do you want to do </h1>



  <h2>Add a new person we are dealing with </h2>
  <p><%= link_to "New person we are dealing with", new_entity_path %>
</p>

<h2>
  Add a new agreement </h2>

<p><%= link_to "Add new agreement", new_obligation_path %> <p>

  <h2>View my obligations</h2>
<p>
  <%= link_to "View your obligations", entities_path %>

  <p>
    need to make pass in params
  </p>
</p>


  <h2>Notes to self</h2>

    <p>ideally the new obligation page would enable the user to add all details</p>
