<h3>Rock Paper Scissors</h3>

<h2>"Select Rock, Paper or Scissors"</h2>
<!--
<p>User input: <%= @user_input %></p>

<!- <p>Operator: <%= @operator["rand(1..10)"] %></p> -->

<!-- <p>Result: <%= @result %></p>  -->
