<h3><%= @habitat.landscape %></h3>
<h4><%= @habitat.climate %></h4>



<a href="/habitats/<%= @habitat.id %>/delete">Delete this habitat</a>
<a href="/habitats/<%= @habitat.id %>/edit">Edit this habitat</a>
