<form action="/habitats" method="POST">
  <p>
    <label>Landscape:</label>
    <input type="text" name="landscape">
  </p>
  <p>
    <label>Climate:</label>
    <input type="text" name="climate">
  </p>

  <input type="submit" value="Create a record">
</form>
