<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Our animals applications</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/animals">All Animals</a>
    <a href="/animals/new">Create an animal</a>
  </nav>

  <div class="container">
  <%= yield %>
  <div>

</body>
</html>
