<h3>Form for how to create a dog</h3>

<form method="POST" action="/dogs">
  <p>
    <label>Name: </label>
    <input type="text" name="species">
  </p>

  <p>
    <label>Image: </label>
    <input type="text" name="image">
  </p>

  <p>
    <label>Description: </label>
    <input type="text" name="description">
  </p>


  <input type="submit" value="Create animal">
</form>
