<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our animals application</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Canine out of ten</h1>

<nav>

<a href="/">Home</a>
<a href="/dogs">Dog Directory</a>
<a href="/dogs/new">Create a puppy</a>



</nav>

<div class="container">
<%= yield %>
</div>


</body>
</html>
