<h1>Full list of authors</h1>

<% @authors.each do |author| %>
  <h3><%= link_to( author.name, "authors/#{author.id}" )%></h3>
  <%= image_tag( author.image, :class => 'thumbnail' ) %>
  <p>Nationality: <%= author.nationality %></p>
  <p>Date of Birth: <%= author.dob.strftime( "%A, %B %e %Y" )%></p>

  <% if author.alive %>
    <p>Still kicking!</p>
  <% else %>
    <p>Lived a full life (or maybe empty, what do I know)</p>
  <% end %>
<% end %>
