  <h2>Delete work</h2>

  <%= form_for(:work, :url => {:action => 'destroy', :id => @work.id}) do |f| %>

    <p>Are you sure you want to permanently delete this work?</p>

    <p ><%= @work.title %></p>

    <div >
      <%= submit_tag("Delete work") %>
    </div>

  <% end %>
