
<div class="form">
  <form action="/cars" method="POST">
    <div class="form_left"><label>Model:</label></div>
    <div class="form_right"><input type="text" name="model"></div>
    <div class="form_left"><label>Make:</label></div>
    <div class="form_right"><input type="text" name="make"></div>
    <div class="form_left"><label>Year:</label></div>
    <div class="form_right"><input type="text" name="year"></div>
    <div class="form_left"><label>Price:</label> </div>
    <div class="form_right"><input type="text" name="price"></div>
    <div class="form_left"><label>Description:</label></div>
    <div class="form_right"><textarea name="description" ></textarea></div>
    <div class="form_left"><label>Image:</label></div>
    <div class="form_right"><input type="text" name="image"></div>

    <div class="form_bottom"><input type="submit" value="Create"></div>
  </form>
</div>
