<form method="POST" action="/games/eightballs/answer">
  <p>
    <label>Enter your question for the Magic 8-Ball here</label>
    <input type="text">
  </p>

  <input type="submit" vale="Ask your question!">

</form>

<img src="https://www-tropo-com.s3.amazonaws.com/wp-content/uploads/2011/12/magic8ball.jpg" alt="">
