<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Searching for Movies</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/movie">Movie Search</a>
</nav>

<%= yield %>

<img src="https://media.giphy.com/media/1MTLxzwvOnvmE/giphy.gif">
</body>
</html>
