<hr>

<form action="/moviesearch" method="GET">
  <p>
  <label>Please enter a movie:</label>

  <input type="text" name="desired_movie">
  </p>

  <input type="submit" value="Show Result">

</form>
<hr>
