.canvas {
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 30%;
}

.pixel {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid purple;
}

.canvas h1 {
  display: none;
}
