<!DOCTYPE html>
<html>
<head>
  <title>FlickrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Our Flickr App</h1>
<nav>
  <form>
    <input type="text" id="search" placeholder="Search term">
    <input class="search" type="submit" value = "Search Flickr">
    <input class="nextPage" type="submit" value = "Next page">

  </form>
</nav>
<hr>

<%= yield %>

</body>
</html>
