<h1><%= @habitat["landscape"] %> </h1>
<p>"<%= @habitat["climate"] %>""</p>

<a href="/habitats/<%= @habitat["id"] %>/delete">Kill Habitat</a> | <a href="/habitats/<%= @habitat["id"] %>/edit">Change Habitat</a>
