<form method="POST" action="/habitats/<%= @habitat["id"] %>">
    <p>
        <label> habitat: </label>
        <input type="text" name="landscape" value="<%= @habitat["landscape"] %>">
    </p>
    <p>
        <label> climate: </label>
        <input type="text" name="climate" value="<%= @habitat["climate"] %>">
    </p>
    <input type="submit" value="save changes">
</form>
