<h3>
    Create Habitat
</h3>


<form method="POST" action="/habitats/new">
    <p>
        <label> landscape: </label>
        <input type="text" name="landscape">
    </p>
    <p>
        <label> climate: </label>
        <input type="text" name="climate" >
    </p>
    <input type="submit" value="Create new Chan">
</form>
