<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jackie Chan</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> Create Jackie Chan </h1>
    <nav><a href="/">Home</a> | <a href="/new">Create new chan</a></nav>
    <hr>
    <%= yield %>
</body>
</html>
