<h3>
    Create Chan
</h3>


<form method="POST" action="/new">
    <p>
        <label> Name: </label>
        <input type="text" name="title">
    </p>
    <p>
        <label> Image: </label>
        <input type="text" name="image" >
    </p>
    <p>
        <label> Desc: </label>
        <input type="text" name="content" >
    </p>
    <input type="submit" value="Create new Chan">
</form>
