body {
    margin: 0;
    background: rebeccapurple;
}
#main {
    max-width: 960px;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    text-align: center;
}
ul {
    padding-left: 0;
    list-style-type: none;
}
li {
    margin: 10px auto;
}

textarea{
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

button{
  border: 10px solid hotpink;
  background: none;
  padding: 10px 20px;
  margin: 10px 0;
}
