// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form p {
  display: none;
}

nav {
  display: inline-block;
}

.nextPage {
  display: none;
}

.prevPage {
  display: none;
}

.pageCtrl {
  float: right;
}
