<hr>
<h1 id="mainTitle">Movie Hunt</h1>

<form id="prettyForm" action="/prey" method="GET">
  <p>Which movie are you hunting?</p>
  <input class="info_box" type="text" name="search">
  <input class="send_info" type="submit">
</form>

<hr>
