<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Signika|Righteous|Chewy|Fredoka+One' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <title>Mountains</title>
</head>
<body>
  <div class="hiddendiv common"></div>
  <header class="header indigo teal lighten-3">
    <h1>My Mountains</h1>

    <nav class="indigo z-depth-0">
        <div class="nav-wrapper teal lighten-3">
          <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/mountains">All Mountains</a></li>
            <li><a href="/mountains/new">Create an mountains</a></li>
          </ul>
        </div>
      </nav>
  </header>


  <div class="container">
  <%= yield %>
  </div>

  <!-- <footer class="page-footer teal lighten-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">My Mountains</h5>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright
            </div>
          </div>
        </footer> -->

</body>
</html>
