<form action="/mountains" method="POST">
  <p>
    <label>Name</label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Location:</label>
    <input type="text" name="location">
  </p>

  <p>
    <label>Elevation:</label>
    <input type="text" name="elevation">
  </p>

  <p>
    <label for="">Image:</label>
    <input type="text" name="image">
  </p>

  <!-- <button type="submit" value="Create Mountain">Submit</button> -->
  <button class="btn waves-effect waves-red" type="submit" name="action">Add new</button>


</form>
