<h2>This is going to be show page - wait it finally is the show page!</h2>

<hr>

<p>You just added: <h2><%= @obligations.agreement_name %> </h2></p>

<p>
The date of the agreement was  <%= @obligations.agreement_date %>
</p>

<p>
The number of the agreement was  <%= @obligations.id %>
</p>





<h2>Need a link from here saying go back to another page</h2>
