<div id="dashboard">
    <button> dash </button>
    <p class="time"></p>
    <p class="number"></p>
    <p class="fortune"></p>

</div>

<div id="lucky">
    <button>Get nums</button>
    <p>
        <%= @lotto_numbers %>
    </p>
</div>

<div id="uptime">
    <button>uptime</button>
    <p> <%= @lotto_numbers %> </p>
</div>
