<h1>Hi Fabio</h1>
<p></p>


<hr>
  <form action="/movie" method="GET">
    <p>
    <label>What is the movie you would like to see the poster?</label>
    <input type="text" name="movie">
    </p>
    <input type="submit" value="Show result">
  </form>
<hr>
