<hr>
  <% @poster = @result["Search"][0]["Poster"]  %>
  <img src="<%= @poster %>" alt="You should see a poster here">
<hr>

<hr>
<p>#BONUS I</p>  
<% @posters = @result["Search"]  %>

<ol>
  <!-- We loop every mail, saving the current email as email -->
  <!-- For each one, we create a new li, with that  -->
  <% @posters.each do |poster| %>

  <li><a href="http://www.imdb.com/title/<%= poster["imdbID"] %>"><%= poster["Title"] %></a></li>

  <% end %>
</ol>
