h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 80px;
  -webkit-text-stroke: 3px black;
   color: white;
   text-shadow:
       8px 8px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
body {
  background-image: url('https://i.ytimg.com/vi/50AF-uFpRtc/maxresdefault.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 30px;
}
.col-md-8 {
  text-align: center;
  opacity: 0.9;

}
.jumbotron {
  text-align: center;
  background-color: black;
  opacity: 0.8;

}
