<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link rel="stylesheet" href="/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="banner">

    <h1>NAMD</h1>
    <h2>Not a Movie Database<h2>

  </div>


  <%= yield %>
</body>
</html>
