<h2>Please select the secret number form 1 - 10</h2>

<form action="/result" method="post">

  <input type="radio" name="name" value="1">1
  <input type="radio" name="name" value="2">2
  <input type="radio" name="name" value="3">3
  <input type="radio" name="name" value="4">4
  <input type="radio" name="name" value="5">5
  <input type="radio" name="name" value="6">6
  <input type="radio" name="name" value="7">7
  <input type="radio" name="name" value="8">8
  <input type="radio" name="name" value="9">9
  <input type="radio" name="name" value="10">10

  <input type="submit" value="Check">
</form>
