<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Mountains</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <hr>
  <p>hello this is mountains layout
</p>
<hr>

<%=yield%>
</body>
</html>
