<p>hello this is edit</p>



<form method="POST" action="/mountains/<%=@mountain["id"]%>">

<p>
  <label>Name:</label>

<input type="text" name = "name">
</p>
testing
tesing
<p>
<label>Image:</label>
<input type="text"  name = "image">

</p>

<p>
  <label>description</label>
  <input type="text" name = "description">

</p>

<p>
  <input type="submit" value="edit mountain">
</p>
</form>
