<p> this is to create a new mountain</p>


<form method="POST" action="/mountains">

<p>
  <label>Name:</label>

<input type="text" name = "name">
</p>

<p>
<label>Image:</label>
<input type="text"  name = "image">

</p>

<p>
  <label>description</label>
  <input type="text" name = "description">

</p>

<p>
  <input type="submit" value="create mountain">
</p>
</form>
