<!-- need an input for name of movie- atrribute-
show result in a new page - main page -->
<!-- http://www.omdbapi.com/?s=Satantango
http://www.omdbapi.com/?s=Alien
HTTParty.get "http://www.omdbapi.com?s=Satantango"
response = HTTParty.get( "http://www.omdbapi.com?s=Satantango" )
all_results = response["Search"]
first_result = response["Search"][0]
poster_of_first_result = response["Search"][0]["Poster"]
result = HTTParty.get "http://omdbapi.com?s=Alien"
result["Search"][0]["Poster"]
DO AN EACH LOOP ON SEARCH!

result = HTTParty.get "http://omdbapi.com?t=Satantango"

result = HTTParty.get "http://omdbapi.com?s=Satantango"

desired_movie = "Satantango"

result = HTTParty.get "http://www.omdbapi.com?t=#{desired_movie}" -->
<!-- Specification

Build a search form that lets the user enter a movie name. The Sinatra app will use HTTParty to fetch the data for the chosen movie from OMDB and display it on the page. Display the poster, as a bare minimum.

Modify your existing code to allow searches for multiple matches. For example, a search for "Alien" should return a list of clickable links (each of which would then take you to the full results page for the selected movie):

Alien
Aliens
Alien 3
Alien Resurrection
My Stepmother Is An Alien
etc
The OMDB site documents the parameter you need to use to search for multiple matches.

Bonus II

Update your code from bonus I so that if only one movie matches your search you are forwarded directly to that movie's result page. -->

<hr>
<form action="/movies" method="GET">
  <p>
    <label>What is the movie you are looking for? </label>
    <input type="word" name="movies">

  </p>

  <input type="submit" value="Show result">

</form>
<hr>
