<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie API</title>
  </head>
  <body>

<h1>Movie API</h1>

<nav>
<a href="/">Home</a>
</nav>



<hr>
<%= yield %>
<hr>


  </body>
</html>
