<div class="homepage">
  <h1>Let's G.O.</h1>
  <h2>Welcome to Get Outside</h2>
  <h3>Here's what you need to know:</h3>
  <p>
    <ul>
      <li>We are here to assist you with your outdoor goals. To get started create a profile, add some activities you like to do, destinations you have visited and make some reccommendations</li>
      <br>
      <li>We are a user influenced site. You create the content!</li>
      <br>
      <li>As this is a site by the people, for the people what you create is what you see so PLEASE be considerate and polite</li>
    </ul>
  </p>
</div>
