<div class="hero">

  <div class="main_button">
    <% if @current_user.is_a?(Trainer) %>
      <p><%= link_to("Use conqr to increase your number of clients today", new_trainer_path ) %></p>
    <% else %>
      <p><%= link_to("Find a personal trainer perfectly matched to you", find_trainer_path ) %></p>
    <% end %>
  </div>

</div>

<div class="how_it_works">
</div>

<div class ="about_trainers">
</div>
