<div class="hero">

  <div class="main_button">
    <p><%= link_to("Find a personal trainer perfectly matched to you", trainers_path ) %></p>
  </div>

</div>

<div class="how_it_works">
</div>

<div class ="about_trainers">
</div>
