
* {
	font-size: 12px;
	line-height: 17px;
	font-family: "Times New Roman", serif;
	color: #656565;
}

#container {
	max-width: 950px;
	margin: auto;
}

a {
	color: #69A8D1;
	text-decoration: none;
}

a:hover {
	color: #20222a;
}

p {
	font-size: 12px;
	opacity:0.6;
}

h1 {
	opacity:0.6;
	font-size: 36px
}

h2 {
	opacity:0.8;
}

.carousel {
	max-width: 100%;
}

#copyright {
	margin-top: -2px;
}

.sponsorTile {
	   padding:1px;
	   border:4px solid #CACACA;
	   background-color:#FFFFFF;
	}
}
