
<p>'"[...] you can also use the wonderful technique that Kent Beck taught his daughter Bethany when she was young and wanted to help him. He had her sit with him and watch, and told her to ask, from time to time Do we have a test for that?"'</p>

<a href="/">restart</a>
