<!-- <%= @movie = @result["Search"] %> -->



<!-- <a href="<%=movie_title%>"></a>

[title] -->


<!-- Need to list the movie options and then have the title a href link to that movies information -->
