


<form action="/search" method="GET">

  <div class="title"><h1>Movies</h1></div>

  <div id="content">  <!-- <body background="images/dvd.jpg"> -->
      <div style="width:auto;text-align:center">
  <img src="images/movies.jpg" alt="Background"></div>
  <!-- <div style="width:auto;text-align:center"> -->





   <label><h6>Search for a movie</h6></label>
   <input type="text" name="movie_title">

  <div class="button">
  <input type="submit" value="Result"></div>



</form>
