<h3>This should show the form to create an animal</h3>

<form method="POST" action="/breads">
  <p>
    <label>Type </label>

    <input type="text" name="type">
  </p>

  <p>
    <label>Picture of your bread </label>
    <input type="text" name="image">
  </p>

  <p>
    <label>Difficulty to make </label>
    <input type="text" name="difficulty">
  </p>

  <input type="submit" value="Create bread">
</form>
