<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The styles page - woo hoo!</title>
</head>
<body>


  <hr>

  <nav>
    <li>Home</li>
    <li>All breads</li>
    <li>New breads</li>
  </nav>

  <hr>
  <div class="container">
    <%= yield %>
  <div>


</body>
</html>
