<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>conqr - Find a Personal Trainer</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav>
    <img src="/assets/conqr_logo.png" id="logo" alt="">
    <a href="/trainers/add">Add A Trainer</a>
    <a href="/trainers">Show All Trainers</a>
    <a href="/home">Home</a>
  </nav>

<div class ="container">
  <%= yield %>
</div>

</body>
</html>
