<form method ="POST" action="/trainers">

  <p>
    <label>First Name:</label>
    <input type="text" name="first_name">
  </p>

  <p>
    <label>Last Name:</label>
    <input type="text" name="last_name">
  </p>

  <p>
    <label>Fitness Australia Registration ID:</label>
    <input type="text" name="registration_id">
  </p>

  <p>
    <label>Image Source:</label>
    <input type="text" name="image">
  </p>

  <p>
    <label>Specialties:</label>
    <input type="text" name="specialties">
  </p>

  <input type="submit" value="Add trainer to database">
</form>
