/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0px;
   background-color: #152303;
 }

 nav {
  font-family: 'Neucha', cursive;
  background-color: #090F01;
  overflow: hidden;
  font-size: 16px;
 }

nav ul {
  overflow: hidden;
}

nav ul li {
  float: left;
  padding: 8px 20px;
  list-style-type: none;
}

nav ul li a {
  color: #F4F2F2;
  text-decoration: none;
  transition: all 0.75s;
}

nav ul li a:hover {
  font-size: 30px;
}

.sign_in {
  float: right;
  font-size: 14px;
  color: #C9C9C9;
  padding: 9px 20px;
}

.bottom_nav {
  float: right;
  color: #C9C9C9;
  font-size: 14px;
  padding: 0px 20px;
}
