<h3>this is where the magic game will go</h3>

<p>oh my god.  It's a miracle!  I got it !</p>


<p> To keep your question secret, please type it in the url box above</p>
<!-- <form>
<p>Write into this magic box your burning questions for the future</p>
<input type="text" name = "What mysterious thing would you like to know?">


<input type="submit">
</form> -->
