

<form method="POST" action="/buildings">
  <p>
    <label>Name: </label>
    <input type="text" name="name">
  </p>

  <p>
    <label>Image: </label>
    <input type="text" name="image">
  </p>

  <p>
    <label>Address: </label>
    <input type="text" name="address">
  </p>

  <p>
    <label>Description: </label>
    <input type="text" name="description">
  </p>
<input type="submit" value="Create">
</form>
