

<% @all_buildings.each do |building|%>
  <h2>
    <%= building["name"] %>
  </h2>

  <p>
    <a href="/buildings/<%= building["id"] %>">
      <img src="<%= building["image"] %>">
    </a>
  </p>
<hr>
<% end %>
