<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Buildings</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>


<h1>Buildings Storage</h1>
<div class="content">

<a href="/">
  Home
</a>

<a href="/buildings">
  Buildings
</a>

<a href="/buildings/new">
  Create New Page
</a>

<%= yield %>


<hr>
</div>
  </body>
</html>
