/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	margin: 50px;
	font-size: 12px;
	line-height: 17px;
	font-family: "Times New Roman", serif;
	color: #656565;
	width: 964px;
}

h1 {
	color: #999;
}

a {
	color: lightblue;
	text-decoration: none;
}

a:hover {
	color: #20222a;
}

.thumbnail{
	background-color: #fff;
	padding: 1px;
	border: 5px solid #888;
	margin-right: 5px;
}
