<main class=bs-docs-masthead id=content role=main tabindex=-1>
    <div class=container>
        <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">P</span>
        <p class=lead>Picross Adventure Time</p>
        <p class=lead>
            <%= link_to "Sign Up", new_user_path, { :class => "btn btn-default btn-info" } %>
            <%= link_to "Log in", login_path, { :class => "btn btn-outline-inverse" } %>
        </p>
    </div>
</main>
