body {
  background: black;
  color: white;
  text-align: center;
  font-family: "Tahoma", "Verdana", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 10px;
  color: white;
}

a {
  color: #ffffff;
  margin: 0 15px;
  padding: 11px 19px;
  font-size: 17.5px;
  border-radius: 6px;
}

// background-color: #5bb75b;


.beck {
  color:lightgreen;
  text-align: left;
  margin-top: 200px;
  display: block;
}
