body {
  font-family: Arial;
}

.thumbnail {
  max-width: 250px;
}

.feature {
  max-width: 600px;
}

header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 80px;
  line-height: 80px;
  background-color: rgba(26,45,60,0.85);
}

.logo {
  max-height: 50px;
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

header a {
  color: white;
  float: right;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
  transition: all 0.5s;
  /*transition: color 0.5s;
  transition: background-color 0.5s;*/
}

header a:hover {
  color: #FDBA49;
  background-color: rgba(26,45,60,0.9);
}
