<h2>Projects</h2>
<div class="projects_container">
  <% @current_user.projects.each do |p| %>
    <div class="project_display">
      <h3><%= link_to p.title, p %></h3>
      <p><%= p.description %></p>
      <p>
        Tasks:
        <% p.tasks.each do |t| %>
          <% if t.complete %>
            <div class="task_container_done">
              <%= t.title %><img src="http://i.imgur.com/3CSqyT5.png">
            </div>
          <% else %>
            <div class="task_container"><%= t.title %></div>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
