<h2>Projects Index</h2>

<% @current_user.projects.each do |p| %>ggggggg

  <h4><%= link_to p.title, p %></h4>
  <p><%= p.description %></p>
  <p>
    Tasks:
  <ol>
    <% p.tasks.each do |t| %>
      <li><%= t.title %>: <%= t.description %></li>
    <% end %>
  </ol>
  </p>
<% end %>
