<h3>Secret number</h3>

<label>Select a number between 1 and 10</label>
    <input type="number" name="user_num">

      <input type="submit" value="Submit Number">


<p>User number = <%= @user_num %></p>

<p>Result: <% @result %></p>
