<div id="dashboard">
    <button>Get important stuff</button>
    <p class="time"></p>
    <p class="luckyNumber"></p>
    <p class="fortune"></p>
</div>

<div id="lucky">
    <button>Get new numbers</button>
    <p></p>
</div>

<div id="uptime">
    <button>What's uptime?</button>
    <p></p>
</div>
