  <h2>Delete Subject</h2>

  <%= form_for(:artist, :url => {:action => 'destroy', :id => @artist.id}) do |f| %>

    <p>Are you sure you want to permanently delete this artist?</p>

    <p ><%= @artist.name %></p>

    <div >
      <%= submit_tag("Delete Artist") %>
    </div>

  <% end %>
