// Place all the styles related to the secret_number controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.win {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto
}
