<!-- Loaded in place of our yield -->
<hr>
  <!-- Print ou the value of the instance variable resutl -->
  <h3>The result is: <%= @x %> + <%= @y %> =  <%= @x + @y %></h3>

  <!-- Add a link so we can calculate other things -->
  <a href="/calc">Calculate something else</a>
<hr>
