<hr>
    <form action="/calculate" method="GET">
        <label> n1: </label>
        <input type="num" name="n1">
        <label> n2: </label>
        <input type="num" name="n2">
        <input type="submit" value="show result">
    </form>
<hr>
