<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sinatra App</title>
</head>
<body>
    <h1> Sup </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore neque reprehenderit, perferendis id, quisquam, expedita asperiores quaerat sit cum voluptate, distinctio similique dolore fuga laudantium tenetur minima officia est.</p>

    <%= yield() %> 

</body>
</html>
