.container  {
  position: absolute;
  top: 50%;
  left: 30%;
  height: 320px;
  width: 320px;

}

.Box  {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 2px;
  font-size: 80px;
  text-align: center;
  color: white;
  background-color: navy;
  opacity: .2;
}

.controlPanel  {
  position: absolute;
  left: 80%;
}

.controlPanel > button {

}
