body   {
  font-family:'Ceviche One', cursive;
  background: url("background.png")

}

.player1Select  {
  position: fixed;
  left: 0px;
  top:20px;
}

.player2Select{
  position: fixed;
  right: 0px;
  top: 100px;
}

.container  {
  position: fixed;
  height: 320px;
  width: 320px;
  margin: 0 auto;
  left: 37%;
  top:5%;
  background-image: url("Vs.png");
  background-repeat:no-repeat;
  background-position: center center;
}

.Box  {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 2px;
  font-size: 80px;
  text-align: center;
  color: #b30000;
  background-color: #8CD4F5;
  opacity: .5;
}

.controlPanel  {
  position: fixed;
  bottom: 5%;
  left: 43%;
  font-size: 20px;
  text-align: center;

}

.controlPanel > button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 27px;
  margin: 24px 5px 0 5px;
  cursor: pointer;
}



#player1Img  {
  width: 220px;
  top:100px;
  left: 5%;
  position: fixed;
  visibility: hidden;

}

#player2Img  {
  width: 220px;
  top:100px;
  right: 5%;
  position: fixed;
  visibility: hidden;
}
