<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="js/lib/jquery.js" charset="utf-8"></script>
    <script src="js/lib/underscore.js" charset="utf-8"></script>
    <script src="js/lib/backbone.js" charset="utf-8"></script>
    <script src="js/lib/backbone-ls.js" charset="utf-8"></script>
</head>
<body>

    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            <input type="text" id="new-todo" placeholder="What needs to be chan'd" autofocus>
        </header>
        <section id="main">
            <input type="text" id="toggle-all" type="checkbox">
            <label for="toggle-all"> Mark all as complete </label>
            <ul id="todo-list"></ul>
        </section>
        <footer id="footer"></footer>
    </section>
    <div id="footer">
        <p>Double click to edit todo</p>
    </div>

    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
            <label><%= title %></label>
            <button class="destroy"></button>
        </div>
        <input class="edit" value="<%= title %>">
    </script>

    <script type="text/template" id="stats-template">
        <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
        <ul id="filters">
            <li>
                <a class="selected" href="#/">All</a>
            </li>
            <li>
                <a href="#/active">Active</a>
            </li>
            <li>
                <a href="#/completed">Completed</a>
            </li>
        </ul>
        <% if (completed) { %>
        <button id="clear-completed">Clear completed (<%= completed %>)</button>
        <% } %>
    </script>

    <script src="js/main.js"></script>
</body>
</html>
