<h1>Pages#url</h1>
<p>Find me in app/views/pages/url.html.erb</p>

s
<%= link_to "Random", random_path %>

<%= link_to "Single number path", single_number_path( @single_number ) %>

<%= link_to "Two number path", two_number_path( @x,  @y ) %>
