body {
  text-align: center;
  background-image:url("assets/marioKartBackground.jpg");
  background-size: cover;
}

h2 {
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  margin-left: -100px;
  z-index: 1100;
}

.playerScoreIcon {
  border: 2px solid white;
  border-radius: 6px;
  width: 150px;
  height: 150px;
  float:left;
}

.playerScore {
  border: 2px solid white;
  border-radius: 6px;
  width: 150px;
  height: 150px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  font-size: 130px;
  font-family: sans-serif;
  float:left;
}

.resetBothScores {
  position: fixed;
  bottom: 320px;
  left: 12px;
  height: 50px;
  width: 280px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-family: sans-serif;
  font-size: 38px;
  border-radius: 5px;
  opacity: 0;
}

button:focus {outline:0;}

button:hover {
  background-color: rgba(0,0,0,1)
}

#scoreCounter {
  position: fixed;
  width: 309px;
  height: 309px;
  left: 0;
  bottom: 0;
  opacity: 0;
}

#firstPlayerScoreIcon {
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.4);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

#secondPlayerScoreIcon {
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.4);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.gameBoard {
  margin-top: 110px;
  font-size: 0;
  opacity: 0;
}

.gameBoard .cell {
  display: inline-block;
  overflow: auto;
  height: 250px;
  width: 250px;
}

.firstPlayerGameIcon {
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.secondPlayerGameIcon {
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0,0,0,0.9);
}

.playerIconChoice {
  position: relative;
  display: inline-block;
  width:1000px;
  top: -750px;
  left: -2000px;
  margin: 0 auto;
  z-index: 1000;
}

.selectIcon {
  float: left;
  width: 200px;
  height: 200px;
  border: 4px solid white;
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
  z-index: 1100;
}

.selectIcon img {
  width: 100%;
  height: 100%;
}

.grow img {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;
}

.grow img:hover{
  width: 240px;
  height: 240px;
  position: relative;
  background-color: rgba(250,250,250,0.9)
}

#cellOne {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

#cellTwo {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

#cellThree {
  border-bottom: 10px solid white;
}

#cellFour {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

#cellFive {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

#cellSix {
  border-bottom: 10px solid white;
}

#cellSeven {
  border-right: 10px solid white;
}

#cellEight {
  border-right: 10px solid white;
}
