<h1>SecretNumber#index</h1>
<p>Find me in app/views/secret_number/index.html.erb</p>


<div class="column">
    <div class="col-xs-2 last-xs">
        <div class="box">
            <a href="/1">1</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
          <a href="/2">2</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <a href="/3">3</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <a href="/4">4</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <a href="/5">5</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <a href="/6">6</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <a href="/7">7</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <a href="/8">8</a>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="box">
            <a href="/9">9</a>
        </div>
    </div><div class="col-xs-2">
        <div class="box">
            <a href="/10">10</a>
        </div>
    </div>
</div>
