
.cardetails{
  display: inline-block;
  width:400px;
  margin-left: auto;
  margin-right: auto;
}
.cars{
  padding: 15px;
  width: 30%;
  display: inline-block;
}
.carsimg{
  float: left;
  padding-top: 30px;
}
.carde{
  padding: 15px;
  float: left;
}
.details{
  text-align: justify;
}
