.thumbnail {
  max-width: 150px;
  border-radius: 10px;
}
.feature {
  max-width: 400px;
  border-radius: 10px;
}
.makes{
  display: inline-block;
  width: 20%;

}
.makedetail{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
