<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our amazing app</title>
</head>
<body>

  <h1>Our amazing app</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/rebeccapurple">Rebecca Purple</a>
  </nav>
  <%= yield() %>
</body>
</html>
