<!DOCTYPE html>
<html>
<head>
  <title>Railsgames</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<h1>Welcome to RailsGames</h1>

<nav>
  <a href="/"><li>Home</li></a>
  <!-- <a href="/about"><li>About</li></a> -->
</nav>

<hr>
<%= yield %>
<hr>

</body>
</html>
