<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Watchmen Database</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Special+Elite|Knewave|Sirin+Stencil|Bangers|Anton' rel='stylesheet' type='text/css'>
</head>
<body>

  <h1></h1>

  <nav>
    <a href="/">Home</a>
    <a href="/watchmen">All Watchmen</a>
    <a href="/watchmen/new">Join The Fight!</a>
  </nav>

  <hr>
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
