<h3>Sign up for the fight!</h3>

<form action="/watchmen" method="POST">
  <p>
    <label>Name: </label>
    <input type="text" name="name">
  </p>
  <p>
    <label>AKA: </label>
    <input type="text" name="aka">
  </p>
  <p>
    <label>Image: </label>
    <input type="text" name="image">
  </p>
  <p>
    <label>Description: </label>
    <input type="text" name="description" id="describe">
  </p>
  <input type="submit" value="Let's go">
</form>
