body{
  background: #002573;
  background: -webkit-linear-gradient(left, #002573 , #0077CF);
  background: -o-linear-gradient(right, #002573, #0077CF);
  background: -moz-linear-gradient(right, #002573, #0077CF);
  background: linear-gradient(to right, #002573 , #0077CF);
  font-family: 'Nunito', sans-serif;
}
.menu{
  background: #E0E8E8;
  box-shadow: 10px 10px 5px rgba(71,79,66,0.4);
  height: 70px;
  border-radius: 10px;

}
.main{
  margin-top: 5px;
  width: 620px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
}
.cell{
  display: inline-block;
  border: 1px solid #CD9F28;
  width: 140px;
  height: 140px;
}

.cell:hover {
  background: #00B8CF;
}

#popupcontent{
   position: absolute;
   visibility: hidden;
   overflow: hidden;
   color: white;
   font-size: 20px;
   z-index: 1;
   text-align: center;
   border:1px solid #3A9FDA;
   background-color:#024157;
   border:1px solid #3A9FDA;
   padding:50px;
}
#cellsNum{
  margin-top: 10px;
  padding: 10px;
  background: #324587;
  background: -webkit-linear-gradient(45deg, #324587 , #18BAC8);
  background: -o-linear-gradient(45deg, #324587, #18BAC8);
  background: -moz-linear-gradient(45deg, #324587, #18BAC8);
  background: linear-gradient(45deg, #324587 , #18BAC8);
  border-radius: 10px;
  color: White;
  font-size: 25px;
}
