<!DOCTYPE html>
<html>
    <head>
        <title>FlickrApp</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <h1 class="teal">Our Flickr App</h1>
                    <div class="row">
                        <div class="col s12 teal">
                            <form input-field>
                                <input type="text" id="search" placeholder="Search term">
                                <!-- <input type="submit" value="Search Flickr"> -->
                                <button class="waves-effect waves-red btn" type="submit" name="action">
                                    <i class="material-icons left">search</i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <%= yield %>

    </body>
</html>
