<h1>Calc#calculate</h1>
<p>Find me in app/views/calc/calculate.html.erb</p>
<p>First number: <%= @x %></p>
<p>Second number: <%= @y %></p>
<p>Operator: <%= @operator %></p>
<p>Result: <%= @result %></p>
