body {
  text-align: center;
}

.gameBoard {
  margin-top: 100px;
  font-size: 0;
}

.gameBoard .cell {
  display: inline-block;
  overflow: auto;
  height: 250px;
  width: 250px;
}

.xImage {
  position: relative;
  display: block;
  background-image: url("assets/letterX.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.oImage {
  position: relative;
  display: block;
  background-image: url("assets/letterO.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}

#cellOne {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

#cellTwo {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

#cellThree {
  border-bottom: 10px solid black;
}

#cellFour {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

#cellFive {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}

#cellSix {
  border-bottom: 10px solid black;
}

#cellSeven {
  border-right: 10px solid black;
}

#cellEight {
  border-right: 10px solid black;
}
