<h1>Movie Poster Procurement Service</h1>

<hr>

<form action="/output" method="GET">
  <p>
    <label>Enter the title of the movie you are looking for: </label>
    <input type="text" name="input">
  </p>
  <input type="submit" value="Search!">
</form>

<hr>
