<form action="/planets" method="POST">
    <label for="name"> Name </label>
    <input type="text" name="name">
    <label for="orbit"> Orbit </label>
    <input type="text"  name="orbit">
    <label for="diameter"> diameter </label>
    <input type="text"  name="diameter">
    <label for="moons"> moons </label>
    <input type="text" name="moons">
    <input type="submit" value="CREATE">
</form>
