<h3>
    Creating route
</h3>

<form method="POST" action="/animals">
    <p>
        <label> Name: </label>
        <input type="text" name="species">
    </p>
    <p>
        <label> Image: </label>
        <input type="text" name="image" >
    </p>
    <p>
        <label> Desc: </label>
        <input type="text" name="description" >
    </p>
    <input type="submit" value="Create animal">
</form>
