body {
  font-family: fantasy;
  color: darkgreen;
  text-align: center;
  margin: auto;
}


.featured {
  width: 500px;

}

.thumbnail {
  width: 150px;
}

.index {
  width: 300px;
}

h1 {
  font-family: monospace;
    font-size: 50px;
}

h2 {
  font-size: 30px;
  font-family: sans-serif;
}

.content {
  background: lemonchiffon;
  width: 80%;
  margin: auto;
  font-size: 20px;
}

.edit {
  margin: 50px 0px 50px 0px;
}

nav {
  font-size: 20px;
}
