/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	font-size: 12px;
	line-height: 17px;
	font-family: "Times New Roman", serif;
	font-color: #656565;
}

div#container {
	width: 960px;
	margin: auto;

}

.date {
	color: #549acc;
}

.press {
	border: 5px solid #c5c5c5;
	padding: 1px;

}
