<form method="POST" action="/robins">
  <p>
    <label>Name: </label>
    <input type="text" name="full_name">
  </p>

  <p>
    <label>Alias: </label>
    <input type="text" name="alias">
  </p>

  <p>
    <label>Biography: </label>
    <input type="text" name="bio">
  </p>

  <p>
    <label>Cause of death: </label>
    <input type="text" name="cause_of_death">
  </p>

  <p>
    <label>image: </label>
    <input type="text" name="image">
  </p>

  <input type="submit" value="Create Robin">
</form>
