<h1>Can you guess the secret number?</h1>
<h2>Choose your guess</h2>


<form action="/secretnumber" method="POST">

<input type="radio" name="number" value=1>1
<input type="radio" name="number" value=2>2
<input type="radio" name="number" value=3>3
<input type="radio" name="number" value=4>4
<input type="radio" name="number" value=5>5
<input type="radio" name="number" value=6>6
<input type="radio" name="number" value=7>7
<input type="radio" name="number" value=8>8
<input type="radio" name="number" value=9>9
<input type="radio" name="number" value=10>10

<input type="submit" value="Let's find out true or false">
</form>
