<hr>
<h1>What kind of movie are you looking for?</h1>

<form action="/search" method="GET">
  <p>
    <label>Enter the keyword</label>
    <input type="text" name="keyword">
  </p>
  <input type="submit" value="Show result">
</form>

<hr>
