<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Movie Search</title>
</head>
<body>

<h1>Movie Search Website</h1>
<ul>
  <a href="/home"><li>Home</li></a>
  <a href="/about"><li>About</li></a>
</ul>

<%= yield %>

</body>
</html>
