<h3>Show us your reefs</h3>



  <div class="row">
    <form class="col s12" method="POST" action="/reefs">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" name="name">
          <label> Name of reef system: </label>
        </div>
        <div class="input-field col s6">
          <input type="text" name="image">
          <label> Image of reef: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label> Description of reef: </label>
          <input type="text" name="description">
        </div>
      </div>

      </div>
      <input type="submit" value="Add reef">
    </form>
  </div>
