<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reef's of the World</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Sigmar+One|Amatic+SC' rel='stylesheet' type='text/css'>
  </head>
  <body>

<h1>Reef systems of the World</h1>

<nav>
    <div class="nav-wrapper blue lighten-4 ">
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a class="btn-floating btn-large waves-effect waves-light blue"href="/"><i class="material-icons">home</i></a></li>
        <li><a class="btn-floating btn-large waves-effect waves-light blue"href="/reefs"><i class="material-icons">All</i></a></li>
        <li><a class="btn-floating btn-large waves-effect waves-light blue"href="/reefs/new"><i class="material-icons">add</i></a></li>
      </ul>
    </div>
  </nav>








    <div class="conatiner">
      <%= yield %>
    </div>





  </body>
</html>
