select {
  width: 50px;
  height: 30px;
  margin: 9px;
  background: transparent;
  padding: 0px 17px;
  font-size: 18px;
  border: 2px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#review_content {
  width: 500px;
  height: 300px;
}
