// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
img{
  max-width: 540px;
  max-height: 560px;
}
ul{
  list-style-type: none;
}
ul ul li{
  margin-left: 45%;
  text-align: left;
}
