<!DOCTYPE html>
<html>
<head>

  <title>Beers of the World</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>The only beer database worth your time.</h2>

  <nav>
    <a href="/">Home</a>
    <a href="/beers">All Beers</a>
    <a href="/beers/new">Add Beer</a>
  </nav>

  <hr>
  <%= yield %>
  <hr>
  
</body>
</html>
