<h1>Please enter your movie search</h1>

<form action="movie_search" method="GET">
  <input type="text" name="movie_name">

</form>

<img src="https://static1.squarespace.com/static/54d3ec61e4b07b5cc07c5776/t/5535823be4b0e95dcbc740cb/1429570110762/">
