body {
  background: #5d5c58;
  text-align: center;
}

nav {
  padding-top: 30px;
  height: 60px;
  background: #6c4c56;
}
label {
  color: #eae6de;
  font-size: 20px;
}
a {
  font-size: 25px;
  padding: 10px;
  color: #eae6de;
}

h1 {
  font-family: Georgia;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
