<h1>Welcome to Fishing Review App</h1>

<% @regions.each do |region| %>
  <% region.reviews.each do |review| %>
    <a href='/reviews/<%= review.id %>'><img src="<%= review.link %>" alt="" class="home-image" />
</a>
  <% end %>
<% end %>
