<h1>This should show all the regions</h1>

<% @regions.each do |region|%>
<p>Name: <%= region.name %></p>
<p>Address: <%= region.address %></p>
<p><%= region.description %></p>
<% end %>

<h1>This will show the forecast and review</h1>
