/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
  text-align: center;
  background-color: papayawhip;
  width: 100%;
  height: 50px;
  border-radius: 25%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;

}
h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

body {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

div {
  background-color: papayawhip;
  border-radius: 25%;
}
