<div class="hero_container">
  <div class="hero_content">
    <h2>Tick It provides a simple solution for teams to track tasks across multiple projects.</h2>
  </div>
  <br>
  <br>
  <a href="/users/new">
    <div class="CTA">
      <span>Get Started!</span>
    </div>
  </a>
</div>
