<h3>This should show the form to create an animal</h3>

<form action="/animals" method="POST">
  <p>
    <label>Name</label>
    <input type="text" name="name">
  </p>

  <p>
    <label>Image:</label>
    <input type="text" name="image">
  </p>

  <p>
    <label for="">Description:</label>
    <input type="text" name="description">
  </p>

  <button type="submit" value="Create animal">Submit</button>


</form>
