<div id="content" ></div>

<div id="lightbox">
  <div id="ligthbox_content"></div>

</div>



<button id="next_page" style="display:none">next page</button>

<style>

#lightbox{
z-index:100;
position:fixed;
display:none;
background-color:rgba(15, 19, 23, 0.9);
/*opacity:0.5;*/
height:1000px;
width:100vw;
border: 3px solid rgba(15, 19, 23, 0.9);
right:0px;
top:0px;
bottom:0px;
left:0px;
margin: auto;
}


#ligthbox_content {
  z-index:100;
  position:absolute;
  display:none;
  height:800px;
  width:800px;
  border: 3px solid black;
  right:0px;
  top:0px;
  bottom:0px;
  left:0px;
  margin: auto;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

}


#lightbox, #ligthbox_content {
  opacity:0;  /* make things invisible upon start */
  	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  	-moz-animation:fadeIn ease-in 1;
  	animation:fadeIn ease-in 1;

  	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  	-moz-animation-fill-mode:forwards;
  	animation-fill-mode:forwards;

  	-webkit-animation-duration:1s;
  	-moz-animation-duration:1s;
  	animation-duration:1s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


</style>
