<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOVIES</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <ul>
        <li><a href="/">search</a></li>
    </ul>
    <hr>
    <%= yield %>
</body>
</html>
