<h3>The Magic Eightball</h3>

<form action="/eightball/answer" method="GET">
  <p>
    <label>What is your question: </label>
    <input type="text" name="answers">
  </p>
  <input type="submit" value="Consult your ball">
</form>
