<h3>Secret Number</h3>
<form action="/secret/answer" method="GET">
  <input type="submit" name="answers" value="1">
  <input type="submit" name="answers" value="2">
  <input type="submit" name="answers"  value="3">
  <input type="submit" name="answers"  value="4">
  <input type="submit" name="answers"  value="5">
  <input type="submit" name="answers"  value="6">
  <input type="submit" name="answers"  value="7">
  <input type="submit" name="answers"  value="8">
  <input type="submit" name="answers"  value="9">
  <input type="submit" name="answers"  value="10">

</form>
